<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('activerecord.models.group.other') %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for(@group) do |f| %>
              <% if @group.errors.any? %>
                  <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h2><%= pluralize(@group.errors.count, "erros") %> <%= t('text.validations.dont_save_register') %>
                      :</h2>

                    <ul>
                      <% @group.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="form-group">
                <%= f.label :name %><br>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <%= f.submit action_title, class: 'btn btn-default' %>
              <%= f.button t('text.clean'), type: 'reset', class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->